{% extends 'base.html' %}

{% block content %}

<header>
    <nav class="nav nav-pills nav-fill">
        {% for i in categories %}
            <a class="nav-link" href="{% url 'category' pk=i.id %}">{{ i.title }}</a>
        {% endfor %}
    </nav>
</header>

{% for i in authors %}
    <h2><a href="{% url 'author' pk=i.id %}">{{ i.name }}</a></h2>
{% endfor %}
<form>
    <input type="text">
    <input type="password">
    <input type="number">
    <input type="date">
    <input type="submit">
</form>



{% endblock %}